.pic{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0.5;
	
}

.btn_coul{
-fx-border-color :#FF00FF ;
}

.btn_text{
	-fx-background-color: white;
}
.grid-pane-ligth{
	-fx-background-color: white;
	-fx-text-fill : black;
	
}
